<?xml version="1.0"?>
<ruleset name="PSR-12">
  <description>PSR-12 coding Standard</description>
  <arg value="-colors"/>
  <arg value="s"/>
  <arg value="p"/>
  <rule ref="PSR12"/>
  <file>app/</file>
  <file>database/</file>
  <file>include/</file>
  <file>public/</file>
  <file>seeds/</file>
  <exclude-pattern>public/js/bundle.nin.js</exclude-pattern>
  <exclude-pattern>public/js/funcybox.js</exclude-pattern>
  <exclude-pattern>public/js/jquery-3.2.1.slim.min.js</exclude-pattern>
  <exclude-pattern>public/js/popper.min.js</exclude-pattern>
  <rule ref="Generic.Files.LineEndings">
    <properties>
      <property name="eolChar" value="\n"/>
    </properties>
  </rule>
  <rule ref="Internal.NoCodeFound">
    <severity>0</severity>
  </rule>
</ruleset>
